{
  "openapi": "3.1.0",
  "info": {"title": "GARANG API", "version": "1.1.0"},
  "servers": [{"url": "https://asia-northeast3-fitfind-ai.cloudfunctions.net/api"}],
  "paths": {
    "/agent/context": {
      "get": {
        "operationId": "getAgentContext",
        "summary": "Read the authenticated GARANG user's current context",
        "security": [{"firebaseIdToken": []}],
        "parameters": [{"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 50}}],
        "responses": {
          "200": {"description": "Authenticated user context"},
          "401": {"description": "Missing, invalid, expired or revoked Firebase ID token"},
          "405": {"description": "GET is the only allowed method"},
          "503": {"description": "Firestore is temporarily unavailable"}
        }
      }
    },
    "/account/delete": {
      "post": {
        "operationId": "deleteAccount",
        "summary": "Permanently delete the authenticated user's GARANG data and Firebase Auth account",
        "security": [{"firebaseIdToken": []}],
        "responses": {
          "200": {"description": "Account and user data deleted"},
          "401": {"description": "Missing token or recent authentication required"},
          "405": {"description": "POST is the only allowed method"},
          "500": {"description": "Account deletion failed"}
        }
      }
    }
  },
  "components": {"securitySchemes": {"firebaseIdToken": {"type": "http", "scheme": "bearer", "bearerFormat": "Firebase ID token"}}}
}
